# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.DS_Store

# Virtual environments
venv/
env/
.venv/

# Local files
temp/
*.log
*.sqlite3

# Streamlit cache
.streamlit/

# Jupyter
.ipynb_checkpoints/
venv/
.venv/
.venv311/
__pycache__/
*.pyc
venv/
.venv/
.venv311/
__pycache__/
*.pyc
